@font-face {
    font-family: 'Silkscreen';
    src: url('Silkscreen-Bold.woff2') format('woff2'),
        url('Silkscreen-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('Silkscreen-Regular.woff2') format('woff2'),
        url('Silkscreen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

